.about-us {
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 8%;

  .text {
    padding-top: 5%;
    color: var(--color-title-in-primary);
    text-align: left;
    padding-right: 4%;
    padding-left: 3%;

    h1 {
      letter-spacing: 3px;
      padding-bottom: 2%;
    }

    p {
      text-align: justify;
      letter-spacing: 1px;
      font-size: 16px;
    }
  }
  .logo {
    background-color: var(--color-background);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    img {
      width: 90%;
    }
  }

  .footer {
    padding-top: 4%;
    background-color: var(--color-background);

    h3 {
      padding-bottom: 5%;
      letter-spacing: 2px;
    }

    a {
      color: var(--color-secundary);
      font-weight: 700;
      display: flex;
      text-decoration: none;
      font-size: 18px;

      i {
        width: 8%;
        font-size: 26px;
      }
    }
    .second-column {
      padding-top: 11.5%;

      p {
        padding-top: 5%;
        text-align: right;
        font-size: 19px;
        padding-right: 8%;
        color: var(--color-secundary);
        font-weight: 700;
      }
    }
  }
}
