.about-us {
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 8%;

  .text {
    padding-top: 5%;
    color: var(--color-title-in-primary);
    text-align: left;
    padding-right: 4%;
    padding-left: 3%;

    h1 {
      letter-spacing: 3px;
      padding-bottom: 2%;
    }

    p {
      text-align: justify;
      letter-spacing: 1px;
      font-size: 16px;
    }
  }

  .logo {
    background-color: var(--color-background);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    img {
      width: 90%;
    }
  }

  @media screen and (max-width: 768px) {
    .text {
      padding-bottom: 3%;

      h1 {
        font-size: 25px;
      }

      p {
        font-size: 15px;
      }
    }

    .logo {
      display: none;
    }
  }

  .title {
    padding-top: 4%;
    width: 100vw;
    background-color: var(--color-background);

    h3 {
      padding-bottom: 2%;
      letter-spacing: 2px;
      @media screen and (max-width: 768px) {
        font-size: 25px;
        padding-bottom: 10%;
      }
    }
  }

  .footer {
    background-color: var(--color-background);

    img {
      height: 1%;
      margin-right: 4.5%;
    }

    .tiktok {
      margin-top: 8%;
    }

    a {
      color: var(--color-secundary);
      font-weight: 700;
      display: flex;
      text-decoration: none;
      font-size: 18px;

      i {
        width: 8%;
        font-size: 26px;
      }
    }

    .second-column {
      p {
        padding-top: 8%;
        text-align: right;
        font-size: 19px;
        padding-right: 8%;
        color: var(--color-secundary);
        font-weight: 700;
      }
    }

    @media screen and (max-width: 768px) {
      a {
        font-size: 15px;
        i {
          font-size: 20px;
          width: 25%;
        }
      }

      .tiktok {
        margin-top: 25%;
      }

      img {
        width: 11%;
        margin-right: 12%;
      }

      #mail {
        display: none;
      }

      .second-column {
        p {
          text-align: center;
          padding-top: 55%;
        }
      }
    }
  }
}
