.landpage {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../../assets/img/rf2gas.png");
  background-position: center;
  background-size: cover;

  .center-text {
    height: 100vh;
    width: 98vw;
    text-align: center;
    padding-top: 20%;
    color: var(--color-title-in-primary);
    letter-spacing: 4px;

    h1 {
      font-weight: 400;
    }

    h3 {
      font-weight: 300;
      padding-bottom: 1%;
    }

    .btn-know-more {
      border-color: var(--color-background-secundary);
      border-width: 2px;
      color: var(--color-background-secundary);
      font-weight: 700;
    }

    .btn-know-more:hover {
      color: var(--color-secundary);
      border-color: var(--color-secundary);
      background-color: transparent;
      transition: 0.5s ease-in;
    }

    @media screen and (max-width: 768px) {
      padding-top: 85%;

      h1 {
        font-size: 22px;
        padding-right: 2%;
      }

      h3 {
        font-size: 20px;
        padding-right: 2%;
      }

      .btn-know-more {
        font-size: 15px;
      }
    }
  }
}
