.container-fluid {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../../assets/img/rf2gas.png");
  background-position: center;
  background-size: cover;

  .center-text {
    height: 100vh;
    width: 98vw;
    text-align: center;
    padding-top: 20%;
    color: var(--color-title-in-primary);
    letter-spacing: 4px;

    h1 {
      font-weight: 400;
    }

    h3 {
      font-weight: 300;
      padding-bottom: 1%;
    }

    .btn-know-more {
      border-color: var(--color-background-secundary);
      color: var(--color-background-secundary);
    }
  }
}
