.navbar-color {
  .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-secundary) !important;
    font-size: 0.9rem;
    font-weight: 700;

    i {
      font-size: 1.3rem;
      color: #34af23;
    }
  }

  @media screen and (max-width: 768px) {
    #services {
      display: none;
    }

    #aboutus {
      display: none;
    }

    #img-logo {
      width: 40vw;
    }
  }
}

.navbar-transparent {
  #img-logo {
    width: 15vw;
  }

  .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-background-secundary) !important;
    font-size: 0.9rem;
    font-weight: 700;

    i {
      font-size: 1.3rem;
      color: #34af23;
    }
  }

  @media screen and (max-width: 768px) {
    #services {
      display: none;
    }

    #aboutus {
      display: none;
    }

    #img-logo {
      width: 40vw;
    }
  }
}
